:root {
  --Green-500: hsl(158, 36%, 37%);
  --Green-700: hsl(158, 42%, 18%);
  --Black: hsl(212, 21%, 14%);
  --Grey: hsl(228, 12%, 48%);
  --Cream: hsl(30, 38%, 92%);
  --White: hsl(0, 0%, 100%);
  font-size: 14px;
  box-sizing: border-box;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.body {
  background-color: var(--Cream);
  font-family: "Fraunces", serif;
  display: grid;
  place-items: center;
  height: 100vh;
}
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.firstcontain {
  display: flex;
  background-color: var(--White);
  margin-top: 20px;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
}
.picture {
  background-image: url("./images/image-product-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 480px;
  width: 300px;
  border-radius: 10px 0 0 10px;
}
.contain {
  background-color: var(--White);
  border-radius: 20px;
  margin: auto;
  max-width: 250px;
  align-content: center;
  padding: 10px 10px;
  box-sizing: border-box;
}
.prizes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex {

}
button {
  height: 50px;
  width: 100%;
  background-color: var(--Green-500);
  color: white;
  border-radius: 10px;
  border: 1px solid var(--Green-500);
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 700;
}
.prizes h1 {
  color: var(--Green-500);
}
.prizes p {
    text-decoration: line-through;
}
button {
  font-weight: 700;
}
button:hover {
  background-color: var(--Green-700);
  border: 1px solid var(--Green-700);
}

@media (max-width:500px) {
    .firstcontain{
        flex-direction: column;

    }
    .picture {
        width: 100%;
        border-radius: 10px 10px 0 0;
        height: 300px;
        background-image: url('./images/image-product-mobile.jpg');
        background-repeat: no-repeat;
    }
    .contain {
        max-width: 90%;
    }
}